.header {
  width: 100vw;
  height: 100vh;

  &-1 {
    background-color: var(--color-black);
    height: 69px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    // position: absolute;
  }

  &-2 {
    height: 110px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    &__left {
      width: 30%;
      height: 100%;
      margin-left: 30px;

      display: flex;
      align-items: flex-start;
      justify-content: space-around;
      //   flex-direction: row;
    }

    &__right {
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: flex-end;
    }
  }

  &-3 {
    width: 100%;
    // height: 100%;
    height: 762px;

    &__info {
      height: 120px;
      position: relative;
      bottom: 126px;
      color: var(--color-white);
      padding: 20px;
      //   background-color: var(--shadow-dark);
      //   background-color: rgba(var(--shadow-dark), 1);
      //   background-color: rgba($color: #000000, $alpha: 0.5);
      background-color: var(--color-opaque-black);
    }
  }
}

.cover {
  &-1 {
    width: 100%;
    height: 100%;
  }
}

.paragraph {
  &-1 {
    color: var(--color-white);
    font-size: 24px;
    letter-spacing: 1px;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__box {
    width: 95%;
    // height: 100%;
  }
}

.logo {
  &__adidas-box {
    width: 6%;
    height: 100%;
    display: flex;

    &-image {
      position: relative;
      left: 1;
    }
  }

  &__box {
    height: 100px;
    width: 105px;

    &-2 {
      width: 20%;
      margin-right: 25px;
      display: flex;
      align-items: center;
    }

    &-3 {
      margin-top: 10px;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
  }
}

.heading {
  display: flex;
  text-decoration: none;
  color: var(--color-black);
  border-right: 2px solid darkgrey;
  padding-right: 3px;

  //   justify-content: space-between;

  &-1 {
    font-weight: 300;
    letter-spacing: 1px;
  }

  &-2 {
    // list-style: none;
    // padding-right: 8px;
    // border-right: 1px solid darkgrey;
    margin-left: 5px;
    // border-right: 1px solid darkgrey;
  }
}

.nav {
  width: 60%;

  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;

  &__text {
    padding: 5px;
    border-right: 2px solid black;
    text-decoration: none;
    color: var(--color-black);
  }
}
